[submodule "linechatbot/pet_friendly"]
	path = linechatbot/pet_friendly
	url = https://github.com/KatieHYT/pet_friendly
	branch = ckpt/wo-stream-and-ancient-frontend-for-0729
[submodule "petlover/pet_friendly"]
	path = petlover/pet_friendly
	url = https://github.com/KatieHYT/pet_friendly
	branch = ckpt/wo-stream-and-ancient-frontend-for-0729
